body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    /* padding: 20px; */
}

header {
    width: 100%;
    height: 11em;
    background-color: #4a6b4a;
    color: white;
    padding: 10px 0;
    /* margin-bottom: 20px; */
    left: 10px;
}
header h1 {
    display: inline-block;
    bottom: 1.5em;
    position: relative;
    align-items: flex-start;
    font-family: Jacques Francois;
    font-weight: normal;
}
.sec_row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-left {
    position: relative;
    width: 150px;
    height: 150px;
    right: 20px;
    bottom: 10px;
}
.logo-right {
    width: 150px;
    height: 150px;
    position: relative;
    left: 30px;
    bottom: 10px;
}
.rectangle {
    width: 100%;
    height: 60px;
    /* margin-bottom: 1em; */
    position: relative;
    bottom: 1.9em;
    /* padding-bottom: 10px; */
    background-color: #334b17;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Add this line */
}
.rectangle h2 {
    position: relative;
    top: -5px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.center-box {
    width: 350px;
    height: 200px;
    background-color: #e3e2e2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    width: 400px;
    height: 400px;
    background-color: #e3e2e2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    width: 20em;
    position: relative;
    top: 50px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
}

.form-container label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
}

.form-container input {
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    align-self: center;
}

/* Your application for Chainsaw registration have been submitted. Thank you! */
.message_container {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.message-box {
    margin: 0 auto;
    position: relative;
    top: 12em;
    background-color: #e3e2e2;
    color: black;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60%;
    max-width: 600px;
}