@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@200;400;500;600;800;900&family=sans-serif:ital,wght@0,1&display=swap');



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.home {
    height: 50vh;
}

.container {
    text-align: center;
    /* padding: 20px; */
}

header {
    width: 100%;
    height: 11em;
    background-color: #4a6b4a;
    color: white;
    padding: 10px 0;
    /* margin-bottom: 20px; */
    left: 10px;
}
header h1 {
    display: inline-block;
    bottom: 2em;
    position: relative;
    align-items: flex-start;
    font-family: Jacques Francois;
    font-weight: normal;
}
.sec_row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-left {
    position: relative;
    width: 150px;
    height: 150px;
    right: 20px;
    bottom: 10px;
}
.logo-right {
    width: 150px;
    height: 150px;
    position: relative;
    left: 30px;
    bottom: 10px;
}
.rectangle {
    width: 100%;
    height: 60px;
    /* margin-bottom: 1em; */
    position: relative;
    bottom: 1.9em;
    /* padding-bottom: 10px; */
    background-color: #334b17;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Add this line */
}
.rectangle h2 {
    position: relative;
    top: -5px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.center-box {
    width: 350px;
    height: 180px;
    background-color: #e3e2e2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -5em; /* Move the box up by 10px */
}

.apply-button {
    position: relative;
    top: 30px;
    width: 20em;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
.apply-button:hover {
    background-color: #333; /* Background color on hover */
    color: white; /* Text color on hover */
}

.form-container {
    position: relative;
    bottom: 50px;
    width: 400px;
    height: 490px;
    background-color: #e3e2e2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.submit-button {
    width: 20em;
    position: relative;
    top: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #333;
    color: white;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
}

.form-container label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
}

.form-container input {
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    align-self: center;
}

/* file upload */
.file-upload-container {
    display: flex;
    align-items: center;
}

#fileUpload {
    display: none;
}

.file-upload-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e3e2e2;
}

.file-upload-label:hover {
    background-color: #d1d1d1;
}

.file-upload-label img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.file-names {
    font-size: 16px;
    color: #333;
    margin-top: 13px;
}

.file-names .file-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Add some space between file names */
}

.file-names .file-name::before {
    content: '✔';
    color: green;
    margin-right: 7px;
    font-size: 16px; /* Adjust the size as needed */
}


/* message popup */
/* Your application for Chainsaw registration have been submitted. Thank you! */
.message_container {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    display: none;
}

.message-box {
    /* margin: 0 auto; */
    position: relative;
    left: 8em;
    bottom: 7em;
    /* background-color: #e3e2e2; */
    color: black;
    /* padding: 30px 40px; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    width: 60%;
    max-width: 600px;
}

.view-status-button { /* View application status button */
    position: relative;
    top: 20px;
    width: 14em;
    height: 3em;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 16px;
}

/* status button */
.view-status-button:hover {
    background-color: #333; /* Background color on hover */
    color: white; /* Text color on hover */
}


/* status container */
.status-page {
    /* border: 1px solid limegreen; */
    width: 80%;
    margin: 0 auto;
    padding: 15px 10px 20px 20px;
    text-align: left;
    color: black;
    position: relative;
    top: 3em;
}

.status-page h2 {
    color: gray;
    font-size: 20px;
}

.status-page table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* table color of borders */
.status-page th, .status-page td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* table title  */
.status-page th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.status-page .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.status-page .in-progress {
    background-color: orange;
}